.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5%;
}

.App-container {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.loadSign {
  margin-top: 20%;
  font-size: calc(10px + 3vmin);
  font-weight: bold;
}

.App-header {
  font-size: calc(12px + 2vmin);
  font-weight: bold;
  margin-top: 1.5%;
  margin-bottom: 1.7%;
}

.errorPage {
  margin-left: 1%;
}

.errorMsg {
  font-weight: bold;
  font-size: calc(12px + 2vmin);
  text-align: center;
}