.PhotoList {
  width: 100%;
  display: inline-flex;
  text-align: center;
  justify-content: center;
}

.photosContainer {
  width: 100%;
}

.PhotoList-header {
  font-size: calc(7px + 1vmin);
  margin-left: 1%;
  text-align: left;
}

.errorPage {
  margin-left: 1%;
}

.errorMsg {
  font-weight: bold;
  font-size: calc(12px + 2vmin);
  text-align: center;
}