.Photo {
  width: 33%;
  height: 18%;
  display: inline-block;
}

.userPhotos {
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 70%;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 0 15%;
}

#albumName {
  font-style: italic 
}
