#searchBar {
  margin: 0.8% 20%;
}

.submit-search {
  margin-left: 1%;
  margin-right: 0.5%;
  padding: 1%;
}

.cancel-search {
  margin-left: 0.25%;
  padding: 1%;
}

input[type=text] {
  padding: 1% 0;
  width: 68%;
}